<div class="tab-cards">

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/wizeline_academy.jpg" alt="Wizeline Academy" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Wizeline Academy</h5>
                    <p class="card-text"><small class="text-muted">Bootcamp, Go Concurrency <br />Jun 2022 – Aug 2022</small></p>
                    <p class="card-text">
                        • Create an API which reads information from the PokeAPI and stores it on a Redis database <br />
                        • Implement three concurrency patterns to read, fetch, feed, and save the data (generator, fan-in/fan-out, pipeline)<br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/ironhack.jpg" alt="Ironhack" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Ironhack</h5>
                    <p class="card-text"><small class="text-muted">Bootcamp, Web Development <br />Apr 2021 – Jun 2021</small></p>
                    <p class="card-text">
                        JavaScript, Express framework, NodeJS, MongoDB, React, HTML5, CSS3 <br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/universidad_panamericana.jpg" alt="UP" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Universidad Panamericana</h5>
                    <p class="card-text"><small class="text-muted">Specialty, Engineering and Project Management <br />2020 – 2021</small></p>
                    <p class="card-text">
                        With this specialty I develop myself in consulting practices, integral advising and project management in a successful way. To carry out adequate planning of technical and human resources, and to ensure the viability of projects and their results by executing effective business plans. <br />
                        To successfully apply advanced project management techniques, teamwork, negotiation, conflict resolution and leadership in groups that develop projects within organizations. <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/universidad_panamericana.jpg" alt="UP" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Universidad Panamericana</h5>
                    <p class="card-text"><small class="text-muted">Diploma, Data Science <br />2020 – 2021</small></p>
                    <p class="card-text">
                        ● Business Intelligence and Solutions of Data Science <br />
                        ● Machine Learning <br />
                        ● Analysis of Large Volumes of Data <br />
                        ● Business Strategies Based on Data Science <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/ironhack.jpg" alt="Ironhack" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Ironhack</h5>
                    <p class="card-text"><small class="text-muted">Bootcamp, Data Analytics <br />Oct 2020 – Sep 2020</small></p>
                    <p class="card-text">
                        Git & Version Control, MySQL, Data Wrangling and Cleaning with Pandas, APIS and Web Scrapping, Exploratory Data Visual, Storytelling through data visualization, Business Intelligence, Applied Machine Learning, Scikit-Learn <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/universidad_panamericana.jpg" alt="UP" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Universidad Panamericana</h5>
                    <p class="card-text"><small class="text-muted">Bachelor's Degree Field Of Study Electronic Engineering, Robotics and Mechatronics <br />2016 – 2020</small></p>
                    <p class="card-text">
                        Mechatronics Engineering <br />
                        Integration of both mechanical, electrical and electronic sciences and technologies with artificial intelligence, for the design, creation and innovation of intelligent products and systems <br />
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>