<div class="tab-cards">

    <div class="experience-card mb-3 mt-3 shadow-sm mb-3">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/globant.jpg" alt="Globant" class="rounded">
            </div>
            <div class="">
                <div class="card-body">
                    <h5 class="card-title">Site Reliability EngineeR</h5>
                    <p class="card-text"><small class="text-muted">Wizeline - Full time <br />May 2022 – Present</small></p>
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="experience-card mb-3 mt-3 shadow-sm mb-3">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/wizeline.jpg" alt="Wizeline" class="rounded">
            </div>
            <div class="">
                <div class="card-body">
                    <h5 class="card-title">DevOps Engineer</h5>
                    <p class="card-text"><small class="text-muted">Globant - Full time <br />Jul 2021 – May 2022</small></p>
                    <p class="card-text">
                        Client: <strong>Google Inc.</strong> <br />
                        ● Work as part of Google's team on the Delivery Centar as a Cloud Engineer consultant expert in Google Cloud Platform services <br />
                        ● Deliver foundational GCP resources and technical design documents <br />
                        ● Give training and deep dives to customers about GCP services <br />
                        ● Application modernization of legacy services or build cloud-native applications using Google Cloud's end-to-end solutions <br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm mb-3">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/globant.jpg" alt="Globant" class="rounded">
            </div>
            <div class="">
                <div class="card-body">
                    <h5 class="card-title">Python Developer</h5>
                    <p class="card-text"><small class="text-muted">Globant - Full time <br />Apr 2021 – Jul 2021</small></p>
                    <p class="card-text">
                        ● Develop backend code with Flask and Django frameworks for clients <br />
                        ● Write effective and scalable python code <br />
                        ● Test driven development with Django <br />
                        ● Build RESTful APIs with Flask and Django <br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm mb-3">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/meru.jpg" alt="MERU" class="rounded">
            </div>
            <div class="">
                <div class="card-body">
                    <h5 class="card-title">Data Scientist</h5>
                    <p class="card-text"><small class="text-muted">Meru - Full time <br />Nov 2020 – Apr 2021</small></p>
                    <p class="card-text">
                        ● Web Scraping e-commerce sites with Scrapy, Selenium and BS4 for product intelligence. <br />
                        ● Work with requests and urllib3 for APIs data extraction. <br />
                        ● Help the business to select the best products for the marketplace. <br />
                        ● Modeling Time series for forecasting container prices. <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/abbott.jpg" alt="ABBOTT" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Quality Assurance Intern</h5>
                    <p class="card-text"><small class="text-muted">Abbott - Internship <br />Jul 2019 – Jul 2020</small></p>
                    <p class="card-text">
                        ● Report Quality Trends <br />
                        ● Weekly Compliance Reports <br />
                        ● Monthly Quality Metrics <br />
                        ● Report Costs of Poor Quality Trends <br />
                        On my stay as an intern I developed some macros with excel to automate weekly reports and also elaborate some auto-updatable templates for measuring the quality metric systems health. <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/universidad_panamericana.jpg" alt="UP" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Assistant Researcher in Robotics</h5>
                    <p class="card-text"><small class="text-muted">Universidad Panamericana <br />Aug 2018 – Aug 2019</small></p>
                    <p class="card-text">
                        Programming and simulation in MATLAB for control systems modeling for developing two projects: <br />
                        1. An automated vision control mini-car with raspberry pi and pi cam, and MATLAB code running remotely via wifi the vectors of the objects were calculated in real time and the mini-car drove through a controlled space. <br />
                        2. A vital signs recognition by camera, In this project with a DSLR camera the chest movement due to breathing was recorded and later with MATLAB the respiration curves were obtained to do calculations and check some vital sings such as blood oxygenation, respiratory rate, and heart rate. <br />
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
