<div class="tab-cards">

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/edteam.jpg" alt="EDteam" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Concurrency with Go (Golang)</h5>
                    <p class="card-text"><small class="text-muted">EDteam <br />Issued Jun 2022</small></p>
                    <p class="card-text"> Credential ID 4672771097-1b0d2563-8c1c-403e-a112-ddb1a15922da </p>
                    <p><a href="https://ed.team/@albertopinon/curso/go-concurrency" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/edteam.jpg" alt="EDteam" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Testing with Go (Golang)</h5>
                    <p class="card-text"><small class="text-muted">EDteam <br />Issued Jun 2022</small></p>
                    <p class="card-text"> Credential ID 467277276-13b8bd09-67c5-46f3-a8d0-6b0a53e00a52 </p>
                    <p><a href="https://ed.team/@albertopinon/curso/go-test" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/edteam.jpg" alt="EDteam" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Creating APIs with Go (Golang)</h5>
                    <p class="card-text"><small class="text-muted">EDteam <br />Issued Jun 2022</small></p>
                    <p class="card-text"> Credential ID 467277276-13b8bd09-67c5-46f3-a8d0-6b0a53e00a52 </p>
                    <p><a href="https://ed.team/@albertopinon/curso/api-go" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/google.jpg" alt="Google" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Professional Cloud Developer</h5>
                    <p class="card-text"><small class="text-muted">Google <br />Issued Feb 2022 - Expires Feb 2024</small></p>
                    <p class="card-text"> Credential ID yuZ8mb </p>
                    <p><a href="https://www.credential.net/2427cfd8-07bf-415a-a9fe-5df37d2a04fb?key=40e8069e58cab9f26f67172cb26d70055e2f23cc8dec944870d0d9ae20eb2aa1" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/google.jpg" alt="Google" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Professional Cloud DevOps Engineer</h5>
                    <p class="card-text"><small class="text-muted">Google <br />Issued Dec 2021 - Expires Dec 2023</small></p>
                    <p class="card-text"> Credential ID OM0pQV </p>
                    <p><a href="https://www.credential.net/33c780ca-e38c-4d87-86b8-9d59b15caa20?key=ce3ddc18acf65b7509bac5fc76feea1b7b5e73f8abff032d81f40b78cc6fca42" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/google.jpg" alt="Google" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Associate Cloud Engineer</h5>
                    <p class="card-text"><small class="text-muted">Google <br />Issued Nov 2021 - Expires Nov 2023</small></p>
                    <p class="card-text"> Credential ID BjUfr6 </p>
                    <p><a href="https://www.credential.net/00a8bd76-f6e4-42b7-a7c5-043a85fac3a0?key=ef72d27ffaba747edabb1c38ebae6520efce88d32911dd9b4e301817cdcea921" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/google.jpg" alt="Google" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Automating Infrastructure on Google Cloud with Terraform</h5>
                    <p class="card-text"><small class="text-muted">Google <br />Issued Nov 2021</small></p>
                    <p class="card-text"> Credential ID 1517969 </p>
                    <p><a href="https://googlecourses.qwiklabs.com/public_profiles/52c8ab15-8d05-455b-ad73-f107ebfe905e/badges/1517969" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/google.jpg" alt="Google" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Implement DevOps in Google Cloud</h5>
                    <p class="card-text"><small class="text-muted">Google <br />Issued Nov 2021</small></p>
                    <p class="card-text"> Credential ID 1535791 </p>
                    <p><a href="https://googlecourses.qwiklabs.com/public_profiles/52c8ab15-8d05-455b-ad73-f107ebfe905e/badges/1535791" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/udemy.jpg" alt="Udemy" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Ansible Advanced for DevOps</h5>
                    <p class="card-text"><small class="text-muted">Udemy <br />Issued Aug 2021</small></p>
                    <p class="card-text"> Credential ID UC-daddc8b8-3eb3-41e1-9f26-a406334584ec </p>
                    <p><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-daddc8b8-3eb3-41e1-9f26-a406334584ec.pdf" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/udemy.jpg" alt="Udemy" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Docker</h5>
                    <p class="card-text"><small class="text-muted">Udemy <br />Issued Jul 2021</small></p>
                    <p class="card-text"> Credential ID UC-c073e3c3-6c4b-4ceb-ba9b-a20c72b17ee9 </p>
                    <p><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-c073e3c3-6c4b-4ceb-ba9b-a20c72b17ee9.pdf" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/udemy.jpg" alt="Udemy" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Jenkins: Becoma a DevOps Jenkins Master</h5>
                    <p class="card-text"><small class="text-muted">Udemy <br />Issued Jul 2021</small></p>
                    <p class="card-text"> Credential ID UC-ff7f00fa-f3cf-4506-9a3d-2382e4d9c3be </p>
                    <p><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-ff7f00fa-f3cf-4506-9a3d-2382e4d9c3be.pdf" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/udemy.jpg" alt="Udemy" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Kubernetes</h5>
                    <p class="card-text"><small class="text-muted">Udemy <br />Issued Jul 2021</small></p>
                    <p class="card-text"> Credential ID UC-ffc230e3-f75b-4ba2-89d3-b7d638ad729f </p>
                    <p><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-ffc230e3-f75b-4ba2-89d3-b7d638ad729f.pdf" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/certiprof.jpg" alt="CertiProf" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Remote Work and Virtual Collaboration</h5>
                    <p class="card-text"><small class="text-muted">CertiProf <br />Issued Feb 2021</small></p>
                    <p class="card-text"> Credential ID 57963144 </p>
                    <p><a href="http://ude.my/UC-b3104262-b63a-4834-8751-a291cf783c47" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/udemy.jpg" alt="Udemy" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Tableau Bootcamp for Data Visualization</h5>
                    <p class="card-text"><small class="text-muted">Udemy <br />Issued Jan 2021</small></p>
                    <p class="card-text"> Credential ID UC-b3104262-b63a-4834-8751-a291cf783c47 </p>
                    <p><a href="http://ude.my/UC-b3104262-b63a-4834-8751-a291cf783c47" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/udemy.jpg" alt="Udemy" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Interactive Python Dashboards with Plotly and Dash</h5>
                    <p class="card-text"><small class="text-muted">Udemy <br />Issued Nov 2020</small></p>
                    <p class="card-text"> Credential ID UC-077b5b31-234f-45b8-917c-9fbb5db51752 </p>
                    <p><a href="http://ude.my/UC-077b5b31-234f-45b8-917c-9fbb5db51752" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/data_camp.jpg" alt="DataCamp" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Data Analyst with SQL Server</h5>
                    <p class="card-text"><small class="text-muted">DataCamp <br />Issued Oct 2020</small></p>
                    <p class="card-text"> Credential ID 180508 </p>
                    <p><a href="https://www.datacamp.com/statement-of-accomplishment/track/25793f2c8f4980c281c556520da2e7dc7541f79f" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/ironhack.jpg" alt="Ironhack" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Data Analytics Full-time Bootcamp in Mexico City</h5>
                    <p class="card-text"><small class="text-muted">Ironhack <br />Issued Oct 2020</small></p>
                    <p class="card-text"> Credential ID 24067828 </p>
                    <p><a href="https://www.credential.net/f4a5a69e-e745-4b4a-81c8-61bed8a552ca" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/data_camp.jpg" alt="DataCamp" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Data Scientist with Python</h5>
                    <p class="card-text"><small class="text-muted">DataCamp <br />Issued Sep 2020</small></p>
                    <p class="card-text"> Credential ID 178069 </p>
                    <p><a href="https://www.datacamp.com/statement-of-accomplishment/track/cc5667f280d7aad19ea332ab04b58d68a101d944" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/certiprof.jpg" alt="CertiProf" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Scrum Foundation Professional Certificate (SFPC)</h5>
                    <p class="card-text"><small class="text-muted">CertiProf <br />Issued Sep 2020</small></p>
                    <p class="card-text"> Credential ID 43487936 </p>
                    <p><a href="https://drive.google.com/file/d/1o0LLXd02S_tE58lZAKTVhTb8WvCG-xjo/view?usp=sharing" target="_blank">See credential</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-card mb-3 mt-3 shadow-sm">
        <div class="card-content">
            <div class="p-3">
                <img src="../../static/logos/ets.jpg" alt="ETS" class="rounded">
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">TOEIC</h5>
                    <p class="card-text"><small class="text-muted">ETS <br />Issued Jun 2019 - Expired Jun 2021</small></p>
                    <p class="card-text"> Credential ID 0198073 </p>
                </div>
            </div>
        </div>
    </div>
</div>